{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SHASHANK</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg" />
    <link rel="stylesheet" href="{% static  'css/style.css'%}" />
  </head>
  <body>
    <!-- navbar section -->
    <nav id="navbar" class="flex s-around bg-color">
      <div class="left-nav">
        <h2 class="t-white">Portfolio</h2>
      </div>
      <div class="right-nav">
        <ul class="flex">
          <li>
            <a href="#home" class="t-white roboto"
              >Home<i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li>
            <a href="#about" class="t-white roboto"
              >About me<i class="fa-solid fa-user"></i
            ></a>
          </li>
          <li>
            <a href="#skills" class="t-white roboto"
              >Skills<i class="fa-solid fa-code"></i
            ></a>
          </li>
          <li>
            <a href="#projects" class="t-white roboto"
              >Projects<i class="fa-solid fa-project-diagram"></i
            ></a>
          </li>
          <li>
            <a href="#certifications" class="t-white roboto"
              >Certifications<i class="fa-solid fa-certificate"></i
            ></a>
          </li>
          <li>
            <a href="#contact" class="t-white roboto"
              >Contact<i class="fa-solid fa-rocket"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- home section -->
    <section id="home" class="flex s-around sw-80 m-auto">
      <div class="home-left flex items-center">
        <div class="home-content">
          <h6 class="popinss">Hi, i'm</h6>
          <h1 class="t-white">Shashank Huilgol</h1>
          <h4 class="popinss">Software Engineer</h4>
          <a href="{%static 'pdf/My Resume.pdf' %}" target="_blank">
            <button class="btn popinss">Resume</button>
          </a>
          <a class="btn live popinss" id="hireme" href="#contact" target="_blank"
            >Let's Talk
          </a>
        </div>
      </div>
      <div class="home-right flex s-center items-center">
        <div class="circle flex s-center items-center" id="mainImage">
          <img src="{%static 'images/mypic.jpg'%}" alt="Shashank's profile picture" />
        </div>
      </div>
    </section>

    <!-- about section -->
    <section id="about">
      <h1 class="t-center my-2 t-white f-2">About Me</h1>
      <div class="about-container flex s-around">
        <div class="about-left flex s-center items-center">
          <img src="{%static 'images/dog.png'%}" alt="Illustration of a dog" style="width: 60%" />
        </div>

        <div class="about-right flex">
          <div class="about-content">
            <h1 class="t-white m-b-1 popinss">Shashank Huilgol</h1>
            <p class="t-white popinss">
              "I am Shashank, a highly motivated and results-oriented B.Tech
              engineering graduate from Maharaja Institute of Technology Mysore
              (MIT Mysore). As a fresher, I am passionate about creating quality
              products that meet customer needs. I enjoy learning new
              technologies and take pride in developing software that
              makes a difference." !
            </p>
            <a class="btn" id="hireme " href="mailto:Shashank.huilgol22@gmail.com">Hire Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- skills section -->
    <section id="skills">
      <h1 class="t-center my-2 t-white f-2">Skills</h1>
      <div class="services-container flex s-around h-50">
        <div class="skills-left flex s-center items-center">
          <img src="{%static 'images/skill.png'%}" alt="skills image" />
        </div>
        <div class="skills-right flex items-center">
          <div class="skills-container">
            <div class="python bar p-relative">
              <span class="bar-content left t-white">Python</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="html bar p-relative">
              <span class="bar-content left t-white">HTML</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="git bar p-relative">
              <span class="bar-content left t-white">GIT</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="django bar p-relative">
              <span class="bar-content left t-white">Django</span>
              <span class="bar-content right-skills t-white">85%</span>
            </div>

            <div class="sql bar p-relative">
              <span class="bar-content left t-white">MYSQL</span>
              <span class="bar-content right-skills t-white">65%</span>
            </div>

            <div class="css bar p-relative">
              <span class="bar-content left t-white">CSS</span>
              <span class="bar-content right-skills t-white">60%</span>
            </div>

            <div class="java bar p-relative">
              <span class="bar-content left t-white">Java</span>
              <span class="bar-content right-skills t-white">55%</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- projects section-->
    <section id="projects">
      <h1 class="t-center my-2 t-white f-2">Projects</h1>
      <div class="projects-container flex s-center">
        <div class="projects-item flex f-col s-center items-center">
          <h1 class="t-white popinss">Criteria-6 Automation</h1>
          <p class="t-white popinss">
            The system addresses the challenges of manual record keeping by
            efficiently managing item and staff details within the department.It
            eliminates data redundancy, inconsistency and inefficiencies by
            utilizing a Database Management System (DBMS) for seamless data
            handling.
          </p>
          <div class="button flex s-around">
            <a href="https://github.com/Shashankhuilgol/PROJECT_DB" target="_blanks" class="btn mx-1 m-top">GitHub</a>
            <a href="" target="_blanks" class="btn m-top live">Live Link</a>
          </div>
        </div>
        <div class="projects-item flex f-col s-center items-center">
          <h1 class="t-white popinss">My Portfolio</h1>
          <p class="t-white popinss">
            I designed and built this portfolio website using HTML,CSS and
            JavaScript to showcase my skills and expertise.The site features a
            modern minimalistic design that emphasizes the content ensuring my
            work stands out. Its simple intuitive layout allows visitors to
            navigate effortlessly and explore my projects with ease.
          </p>
          <div class="button flex s-around">
            <a href="" target="_blanks" class="btn mx-1 m-top">GITHUB</a>
            <a href="" target="_blanks" class="btn m-top live">Live Link</a>
          </div>
        </div>        
      </div>
    </section>

    <!--certifications section-->
    <section id="certifications">
      <h1 class="t-center my-2 t-white f-2">Certifications</h1>
      <div class="certifications-container flex s-center">
        <div class="certifications-item flex f-col s-center items-center">
          <h1 class="t-white popinss">Internship</h1>
          <ul>
            <li>Company: RunShaw Technologies</li>
            <li>Role: Full Stack Web Developer</li>
            <li>Year: 07/2023 - 09/2023</li>
          </ul>

          <p class="t-white popinss">
            In 2023, I interned as a Full Stack Web Developer at RunShaw
            Technologies, where. I developed scalable web applications using
            Django, HTML, CSS, and JavaScript. I actively debugged and enhanced
            back-end functionality, improving application performance. This
            experience strengthened my skills in building and maintaining
            dynamic web solutions and provided valuable exposure to full-stack
            development.
          </p>
          <div class="button flex s-around">
            <a href="{%static 'pdf/Internship.pdf' %}" target="_blanks" class="btn mx-1 m-top">CERTIFICATE</a>
          </div>
        </div>

        <div class="certifications-item flex f-col s-center items-center">
          <h1 class="t-white popinss">Online Course</h1>
          <ul>
            <li>Platform: Great Learning</li>
            <li>Course: Java Programming</li>
            <li>Year: 12/2024</li>
          </ul>

          <p class="t-white popinss">
            I successfully completed an online Java Programming course through
            Great Learning, where I developed a solid understanding of Java
            fundamentals, including basic programming techniques. This certification demonstrates my
            enthusiasm for learning new programming languages and broadening my
            technical skills. It also reflects my commitment to ongoing personal
            and professional development in the field of programming.  
          </p>
          <div class="button flex s-around">
            <a href="{%static 'pdf/Java Certificate.pdf' %}" target="_blanks" class="btn mx-1 m-top">CERTIFICATE</a>
          </div>
        </div>
      </div>
    </section>

    <!-- contact me section -->
    <section id="contact" class="m-b-1">
      <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
      <div class="Contact-container flex s-around items-center">
        <div class="form" id="contactform">
          <form method="post">
            {% csrf_token %}
            <div class="name form-div">
              <input
                type="text"
                name="name"
                id="name"
                class="popinss"
                placeholder="Enter your Name"
                required
              />
            </div>

            <div class="email form-div">
              <input
                type="email"
                name="email"
                id=""
                class="popinss"
                placeholder="Enter your Email"
                required
              />
            </div>

            <div class="phone form-div">
              <input
                type="phone"
                name="number"
                id=""
                class="popinss"
                placeholder="Enter your Phone"
                required
              />
            </div>

            <div class="textarea form-div">
              <textarea
                name="content"
                id="textarea"
                cols="30"
                rows="10"
                class="popinss"
                placeholder="Enter your Messages"
              ></textarea>
            </div>
            <button type=" submit" class="btn popinss" id="submit">send</button>
          </form>
        </div>
      </div>
    </section>

    <!-- footer section -->
    <footer id="footer">
      <ul class="flex s-center w-80 m-auto my-2 res">
        <li><a href="#home" class="popinss">Home</a></li>
        <li><a href="#about" class="popinss">About Me</a></li>
        <li><a href="#skills" class="popinss">Skills</a></li>
        <li><a href="#projects" class="popinss">Projects</a></li>
        <li><a href="#home" class="popinss">Portfolio</a></li>
      </ul>
      <ul class="flex s-center w-80 font-awesome">
        <a href="https://github.com/Shashankhuilgol" target="_blank">
          <li><i class="fa-brands fa-github"></i></li>
        </a>

        <a href="https://www.instagram.com/shashankvh__/profilecard/?igsh=aDRzMXNlMjN2MDE3" target="_blank">
          <li><i class="fa-brands fa-instagram"></i></li>
        </a>

        <a href="https://www.linkedin.com/in/shashank-huilgol-728527233" target="_blank">
          <li><i class="fa-brands fa-linkedin-in"></i></li>
        </a>
      </ul>
      <p class="t-center my-2 popinss">
        &copy; All Right Reserved -<spam class="cpy-white popinss"
          >Shashank 2024
        </spam>
      </p>
    </footer>
  </body>
</html>
