{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHASHANK</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.jpeg" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Swiper.js CSS -->
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

    <!-- Swiper.js JavaScript -->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <!-- Loading Screen -->
    <div id="loading-screen">
      <div class="spinner"></div>
    </div>

    <!-- Navbar -->
    <div class="navbar">
      <div class="left-nav">
        <h2 class="t-white">Portfolio</h2>
      </div>
      <ul class="links">
        <li>
          <a href="#home" class="t-white roboto"
            >Home <i class="fa-solid fa-house"></i
          ></a>
        </li>
        <li>
          <a href="#about" class="t-white roboto"
            >About me <i class="fa-solid fa-user"></i
          ></a>
        </li>
        <li>
          <a href="#skills-section" class="t-white roboto"
            >Skills <i class="fa-solid fa-code"></i
          ></a>
        </li>
        <li>
          <a href="#projects" class="t-white roboto"
            >Projects <i class="fa-solid fa-project-diagram"></i
          ></a>
        </li>
        <li>
          <a href="#certifications" class="t-white roboto"
            >Certifications <i class="fa-solid fa-certificate"></i
          ></a>
        </li>
        <li>
          <a href="#contact" class="t-white roboto"
            >Contact <i class="fa-solid fa-rocket"></i
          ></a>
        </li>
      </ul>
      <div class="toggle-btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <!-- ✅ Dropdown -->
    <div class="dropdown_menu">
      <a href="#home" class="t-white roboto"
        >Home <i class="fa-solid fa-house"></i
      ></a>
      <a href="#about" class="t-white roboto"
        >About me <i class="fa-solid fa-user"></i
      ></a>
      <a href="#skills-section" class="t-white roboto"
        >Skills <i class="fa-solid fa-code"></i
      ></a>
      <a href="#projects" class="t-white roboto"
        >Projects <i class="fa-solid fa-project-diagram"></i
      ></a>
      <a href="#certifications" class="t-white roboto"
        >Certifications <i class="fa-solid fa-certificate"></i
      ></a>
      <a href="#contact" class="t-white roboto"
        >Contact <i class="fa-solid fa-rocket"></i
      ></a>
    </div>

    <!-- home section -->
    <section id="home" class="flex s-around sw-80 m-auto">
      <div class="home-left flex items-center">
        <div class="home-content">
          <h6 class="popinss">Hi, i'm</h6>
          <h1 class="t-white">Shashank Huilgol</h1>
          <h4 class="popinss">Software Engineer</h4>
          <a href="{%static 'pdf/Shashank_Resume.pdf' %}" target="_blank">
            <button class="btn popinss">Resume</button>
          </a>
          <a
            class="btn live popinss"
            id="hireme"
            href="#contact"
            target="_blank"
            >Let's Talk
          </a>
        </div>
      </div>
      <div class="home-right flex s-center items-center">
        <div class="circle flex s-center items-center" id="mainImage">
          <img
            src="{%static 'images/mypic.jpg'%}"
            alt="Shashank's profile picture"
          />
        </div>
      </div>
    </section>

<!-- about section -->
<section id="about">
  <h1 class="t-center my-2 t-white f-2">About Me</h1>
  <div class="about-container flex s-around">
    
    <!-- Left Image -->
    <div class="about-left flex s-center items-center">
      <img
        src="{% static 'images/my_image.png' %}"
        alt="Illustration of a hero"
        style="width: 60%"
      />
    </div>

    <!-- Right Content -->
    <div class="about-right flex">
      <div class="about-content">
        <h1 class="t-white m-b-1 popinss">Shashank Huilgol</h1>
        <p class="t-white popinss">
          I am Shashank Huilgol, an SAP Functional Developer at ITC
          Infotech, contributing to the BAT project in the SAP BASIS
          Application domain. I focus on ensuring system stability and
          smooth operations, while staying passionate about continuous
          learning, backend development, and advancing as a skilled SAP
          professional.
        </p>

        <!-- Buttons Container -->
        <div class="about-buttons flex">
          <!-- Hire Me Button -->
          <a
            class="btn"
            id="hireme"
            href="mailto:Shashank.huilgol22@gmail.com"
          >Hire Me</a>

          <!-- Experience Button -->
          <a
            class="btn btn-secondary"
            href="{% url 'experience' %}"
          >Experience</a>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- skills section -->
    <section id="skills-section">
      <h1 class="sub-title">My Skills</h1>

      <div class="skills-container">
        <div class="technical-skills">
          <h2>Technical Skills</h2>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-html5" style="color: #e34c26"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">HTML</span>
              <div class="progress-bar">
                <div class="progress" data-percent="90"></div>
              </div>
              <span class="percent">90%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-css3" style="color: #1572b6"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">CSS</span>
              <div class="progress-bar">
                <div class="progress" data-percent="80"></div>
              </div>
              <span class="percent">80%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-python" style="color: #3776ab"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">Python</span>
              <div class="progress-bar">
                <div class="progress" data-percent="75"></div>
              </div>
              <span class="percent">75%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-django" style="color: #092e20"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">Django</span>
              <div class="progress-bar">
                <div class="progress" data-percent="65"></div>
              </div>
              <span class="percent">65%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-git" style="color: #f05032"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">Git</span>
              <div class="progress-bar">
                <div class="progress" data-percent="70"></div>
              </div>
              <span class="percent">70%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bx-data" style="color: #00758f"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">MySQL</span>
              <div class="progress-bar">
                <div class="progress" data-percent="60"></div>
              </div>
              <span class="percent">60%</span>
            </div>
          </div>
          <div class="skill-row">
            <div class="skill-icon">
              <i class="bx bxl-java" style="color: #5382a1"></i>
            </div>
            <div class="skill-info">
              <span class="skill-name">Java</span>
              <div class="progress-bar">
                <div class="progress" data-percent="55"></div>
              </div>
              <span class="percent">55%</span>
            </div>
          </div>
        </div>

        <div class="professional-skills">
          <h2>Professional Skills</h2>
          <div class="circle-skill" data-percent="90">
            <div class="circle-progress">
              <svg viewBox="0 0 100 100">
                <path
                  class="bg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
                <path
                  class="fg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
              </svg>
              <span class="circle-percent">90%</span>
            </div>
            <span class="circle-label">Creativity</span>
          </div>
          <div class="circle-skill" data-percent="65">
            <div class="circle-progress">
              <svg viewBox="0 0 100 100">
                <path
                  class="bg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
                <path
                  class="fg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
              </svg>
              <span class="circle-percent">65%</span>
            </div>
            <span class="circle-label">Communication</span>
          </div>
          <div class="circle-skill" data-percent="75">
            <div class="circle-progress">
              <svg viewBox="0 0 100 100">
                <path
                  class="bg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
                <path
                  class="fg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
              </svg>
              <span class="circle-percent">75%</span>
            </div>
            <span class="circle-label">Problem Solving</span>
          </div>
          <div class="circle-skill" data-percent="85">
            <div class="circle-progress">
              <svg viewBox="0 0 100 100">
                <path
                  class="bg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
                <path
                  class="fg"
                  d="M 50,50 m -45,0 a 45,45 0 1,1 90,0 a 45,45 0 1,1 -90,0"
                ></path>
              </svg>
              <span class="circle-percent">85%</span>
            </div>
            <span class="circle-label">Teamwork</span>
          </div>
        </div>
      </div>
    </section>

    <!-- projects section -->
    <section class="projects section" id="projects">
      <h2 class="section__title">Projects</h2>

      <div class="projects__container container swiper">
        <div class="swiper-wrapper">
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-1.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Criteria-6 Automation</h3>
              <p class="projects__description">
                This system overcomes the challenges of manual record-keeping by
                efficiently managing staff and item details within the
                department. It minimizes redundancy, inconsistency, and
                inefficiencies through a Database Management System (DBMS),
                ensuring seamless data handling.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-flask.png"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-sql.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/CR-6-Automation"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/CR-6-Automation"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-2.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">My Portfolio</h3>
              <p class="projects__description">
                I designed and built this portfolio website using HTML, CSS,
                JavaScript, Python, and Django to showcase my skills. The site
                has a modern, minimal design that highlights content, making my
                work stand out. Its simple, intuitive layout helps visitors
                navigate easily and explore my projects.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-django.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-dbsqlite.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="portfolio-2-278q.onrender.com/"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Portfolio"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-3.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Library Mgmt_System</h3>
              <p class="projects__description">
                This Django-based Library Management System efficiently handles
                books, authors, borrowers, and borrowing records. It streamlines
                book issuing and returns, tracks user activities, and ensures
                smooth resource management, enhancing overall library efficiency
                and accessibility.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-django.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-dbsqlite.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://librarymanagementsystem-production-eab9.up.railway.app"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Library_Management_System"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-4.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Movie Rec_System</h3>
              <p class="projects__description">
                The Movie Recommendation System is a Flask-based web app that
                helps users discover movies based on their preferences. It
                filters by genre, rating, and language, offering a personalized
                list through a clean, user-friendly interface and curated movie
                collection.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-flask.png"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://movie-recommendation-system-d0wipn40b.vercel.app/"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Movie_Recommendation_System"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-5.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Flask Auth_App</h3>
              <p class="projects__description">
                The Flask Authentication App, built with Flask, manages user
                registration, login, and logout. It secures passwords using
                Flask-Bcrypt, handles sessions with Flask-Login, and stores data
                via Flask-SQLAlchemy. Flask-WTF ensures form validation, making
                authentication seamless and secure.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-flask.png"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-dbsqlite.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/Flask_Auth_App"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Flask_Auth_App"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-6.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">YT Video Downloader</h3>
              <p class="projects__description">
                The YouTube Video Downloader is a Flask-based Python app that
                lets users download YouTube videos easily. Built with the pytube
                library, it provides a user-friendly interface to input video
                URLs, select quality, and ensures smooth, reliable video
                downloads.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-flask.png"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/Utube_Video_Downloader"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Utube_Video_Downloader"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-7.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Ecom Sales Dashboard</h3>
              <p class="projects__description">
                This project analyzes e-commerce sales data and visualizes key
                insights through interactive dashboards. Built with Python,
                Pandas, and Matplotlib/Seaborn, it tracks revenue, customer
                trends, and product performance to support data-driven decisions
                and boost business growth.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-powerbi.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-excel.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/E-COMMERCE-SALES-DASHBOARD"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/E-COMMERCE-SALES-DASHBOARD"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-8.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Task Master</h3>
              <p class="projects__description">
                This Django-based To-Do List App helps users efficiently manage
                daily tasks. It enables adding, updating, and deleting tasks
                with data securely stored in a database. Featuring a clean and
                intuitive interface, it simplifies task tracking and enhances
                personal productivity.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-html.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-css.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-django.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-dbsqlite.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/Task-Master"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/Task-Master"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
          <article class="projects__card swiper-slide">
            <div class="projects__image">
              <img
                src="static/images/projects-9.jpg"
                alt="image"
                class="projects__img"
              />
            </div>
            <div class="projects__data">
              <h3 class="projects__name">Netflix Analysis</h3>
              <p class="projects__description">
                This project analyzes Netflix’s dataset to reveal trends in
                content distribution genre popularity, and viewer behavior.
                Using Python and data visualization tools, it uncovers insights
                on release patterns, ratings, and regional availability to
                understand Netflix’s content strategy.
              </p>
              <div class="projects__skills">
                <img
                  src="static/images/skills-python.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-jupyter.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-pandas.svg"
                  alt="image"
                  class="projects__skill"
                />
                <img
                  src="static/images/skills-numpy.svg"
                  alt="image"
                  class="projects__skill"
                />
              </div>
              <div class="projects__buttons">
                <a
                  href="https://github.com/Shashankhuilgol/netflix-data-analysis"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-link"></i>
                  <span>visit project</span>
                </a>
                <a
                  href="https://github.com/Shashankhuilgol/netflix-data-analysis"
                  target="_blank"
                  class="projects__button"
                >
                  <i class="ri-github-line"></i>
                  <span>GitHub</span>
                </a>
              </div>
            </div>
          </article>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </div>
    </section>

    <!--certifications section-->
    <section class="certifications section" id="certifications">
      <h2 class="section__title">Certifications</h2>
      <div class="certifications__container container swiper">
        <div class="swiper-wrapper">
          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/internship_logo.png"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Internship</h3>
              <ul>
                <li>Company: RunShaw Technologies</li>
                <li>Role: Full Stack Web Developer</li>
                <li>Year: 07/2023 - 09/2023</li>
              </ul>
              <p class="certifications__descrtption">
                As a 2023 Full Stack Web Developer intern at RunShaw
                Technologies, I contributed to developing scalable web
                applications with Django, HTML, CSS, and JavaScript. My work
                involved debugging and enhancing back-end features, improving
                performance, and providing valuable full-stack exposure.
              </p>
              <a
                href="{% static 'pdf/Internship.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>

          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/java_logo.jpg"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Online Certification</h3>
              <ul>
                <li>Platform: Great Learning</li>
                <li>Course: Java Programming</li>
                <li>Year: 12/2024</li>
              </ul>
              <p class="certifications__descrtption">
                Successfully completed Great Learning's Java Programming course,
                developing a strong foundation in Java fundamentals and core
                programming techniques. This certification showcases my
                proactive approach to acquiring new programming languages and
                expanding my technical skillset.
              </p>
              <a
                href="{% static 'pdf/Java Certificate.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>
          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/python_logo.jpg"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Online Certification</h3>
              <ul>
                <li>Platform: Simplilearn</li>
                <li>Course: Python Programming</li>
                <li>Year: 12/2024</li>
              </ul>
              <p class="certifications__descrtption">
                Certified in Python fundamentals through Simplilearn SkillUp.
                This course covered key concepts including Django for web
                development and the principles of Object-Oriented Programming
                (OOPs) in Python. This certification demonstrates foundational
                skills in Python programming.
              </p>
              <a
                href="{% static 'pdf/Python Certificate.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>
          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/sap_logo.jpg"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Online Certification</h3>
              <ul>
                <li>Platform: Great Learning</li>
                <li>Course: Introduction to sap</li>
                <li>Year: 01/2025</li>
              </ul>
              <p class="certifications__descrtption">
                Successfully completed Great Learning's "Introduction to SAP"
                online course, developing a foundational understanding of SAP
                systems and core functionalities. This certification showcases
                my proactive approach to acquiring knowledge in enterprise
                resource planning software and expanding my technical skillset.
              </p>
              <a
                href="{% static 'pdf/Sap Certificate.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>
          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/full_stack_logo.jpg"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Online Certification</h3>
              <ul>
                <li>Platform: Simplilearn</li>
                <li>Course: Full-Stack Development</li>
                <li>Year: 01/2025</li>
              </ul>
              <p class="certifications__descrtption">
                Earned a Full Stack Development certificate from Simplilearn
                SkillUp, showcasing initiative and a strong commitment to
                enhancing skills for advancing my career in the dynamic field of
                web development. This reflects dedication to continuous
                professional growth and lifelong learning.
              </p>
              <a
                href="{% static 'pdf/Full-Stack Certificate.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>
          <article class="certifications__card swiper-slide">
            <div class="certifications__image">
              <img
                src="static/images/data_mining_logo.jpg"
                alt="image"
                class="certifications__img"
              />
            </div>
            <div class="certifications__data">
              <h3 class="projects_name">Online Certification</h3>
              <ul>
                <li>Platform: Great Learning</li>
                <li>Course: Data Mining</li>
                <li>Year: 06/2023</li>
              </ul>
              <p class="certifications__descrtption">
                Completed Great Learning's free online course in Data Mining,
                provided by Great Learning Academy in June 2023. This
                certification demonstrates foundational knowledge in data
                exploration and pattern discovery, showcasing my commitment to
                learning in the data science field and expanding my analytical
                skills.
              </p>
              <a
                href="{% static 'pdf/Data-Mining Certificate.pdf' %}"
                target="_blank"
                class="certifications__button"
              >
                <i class="ri-file-pdf-line"></i>
                <span>CERTIFICATE</span>
              </a>
            </div>
          </article>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
        </div>
      </div>
    </section>

    <!-- contact me section -->
    <section id="contact" class="m-b-1">
      <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
      <!-- Display success message if any -->
      {% if messages %}
      <div class="messages" style="margin-bottom: 20px">
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="Contact-container flex s-around items-center">
        <div class="form" id="contactform">
          <form method="post">
            {% csrf_token %}
            <div class="name form-div">
              <input
                type="text"
                name="name"
                id="name"
                class="popinss"
                placeholder="Enter your Name"
                required
              />
            </div>

            <div class="email form-div">
              <input
                type="email"
                name="email"
                id=""
                class="popinss"
                placeholder="Enter your Email"
                required
              />
            </div>

            <div class="phone form-div">
              <input
                type="phone"
                name="number"
                id=""
                class="popinss"
                placeholder="Enter your Phone"
                required
              />
            </div>

            <div class="textarea form-div">
              <textarea
                name="content"
                id="textarea"
                cols="30"
                rows="10"
                class="popinss"
                placeholder="Enter your Messages"
              ></textarea>
            </div>
            <button type=" submit" class="btn popinss" id="submit">send</button>
          </form>
          <!-- In index.html, add this block to display messages -->
        </div>
      </div>
    </section>

    <!-- footer section -->
    <footer id="footer">
      <ul class="flex s-center w-80 m-auto my-2 res">
        <li><a href="#home" class="popinss">Home</a></li>
        <li><a href="#about" class="popinss">About Me</a></li>
        <li><a href="#skills" class="popinss">Skills</a></li>
        <li><a href="#projects" class="popinss">Projects</a></li>
      </ul>
      <ul class="flex s-center w-80 font-awesome">
        <a href="https://github.com/Shashankhuilgol" target="_blank">
          <li><i class="fa-brands fa-github"></i></li>
        </a>

        <a
          href="https://www.instagram.com/shashankvh__/profilecard/?igsh=aDRzMXNlMjN2MDE3"
          target="_blank"
        >
          <li><i class="fa-brands fa-instagram"></i></li>
        </a>

        <a
          href="https://www.linkedin.com/in/shashank-huilgol-728527233"
          target="_blank"
        >
          <li><i class="fa-brands fa-linkedin-in"></i></li>
        </a>
      </ul>
      <p class="t-center my-2 popinss">
        &copy; All Right Reserved -<span class="cpy-white popinss"
          >Shashank 2025
        </span>
      </p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
