{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experience</title>
  <link rel="stylesheet" href="{% static 'css/experience.css' %}">
</head>
<body>
  <section class="experience">
    <h2 class="section__title">Experience</h2>

    <div class="experience-container">

      <!-- Job 1 -->
      <div class="experience-item">
        <img src="{% static 'images/itc_logo.jpeg' %}" alt="ITC Infotech Logo" class="company-logo">

        <div class="experience-details">
          <h3>
            <a href="{% url 'itc' %}" class="job-link">
              Associate IT Consultant / SAP Functional Developer
            </a>
          </h3>
          <h4>ITC Infotech · Full-time</h4>
          <div class="experience-meta">Aug 2025 – Present · 2 mos<br>Kolkata, West Bengal, India · On-site</div>
          <p>
            Working as an SAP Functional Developer on the BAT project, ensuring system stability,
            backend efficiency, and contributing to professional growth.
          </p>
        </div>
      </div>

      <!-- Job 2 -->
      <div class="experience-item">
        <img src="{% static 'images/runshaw_logo.jpeg' %}" alt="Runshaw Technologies Logo" class="company-logo">

        <div class="experience-details">
          <h3>
            <a href="{% url  'runshaw' %}" class="job-link">
              Full Stack Web Developer
            </a>
          </h3>
          <h4>Runshaw Technologies Pvt Ltd · Internship</h4>
          <div class="experience-meta">Aug 2024 – Oct 2024 · Remote</div>
          <p>
            Built full stack web applications, collaborated with teams to deliver scalable solutions,
            and enhanced web project development skills.
          </p>
        </div>
      </div>

    </div>
  </section>
</body>
</html>
